{% extends 'base.html' %}
{#{% load staticfiles %}#}

{% block head %}

{#    <link rel="stylesheet" href="//assets/stylesheets/bootstrap.min.css" />#}
{#    <link rel="stylesheet" href="//assets/stylesheets/bootstrap-responsive.min.css" />#}
{#    <link rel="stylesheet" href="//assets/stylesheets/application.css" />#}
{##}
{#    <script src="//assets/javascripts/jquery-1.9.1.js"></script>#}
{#    <script src="//assets/javascripts/calculator.js"></script>#}
{% endblock %}


{% block body %}

  <div class="container text-center">

    <h1>Calculator</h1>
      <br/>
      <br/>

      <form action="" method="post">
          {% csrf_token %}
          {{ form.as_p }}

          <button type="submit" name="female">FEMALE</button>
          <button type="submit" name="male">MALE</button>

      </form>

      <br/>
      <br/>
       <h3>Result:  {{ result }}</h3>
    </div>



{% endblock %}